<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Oralce_Mod>
			<version>1.0.0</version>
		</Oralce_Mod>
	</modules>
	<global>
		<resources>
			<oralcemod_setup>
				<setup>
					<module>Oralce_Mod</module>
				</setup>
			</oralcemod_setup>
		</resources>
		<helpers>
			<oralce_mod>
				<class>Oralce_Mod_Helper</class>
			</oralce_mod>
		</helpers>
		<blocks>
			<oralce_mod>
				<class>Oralce_Mod_Block</class>
			</oralce_mod>
		</blocks>
		 <models>
			<oralce_mod>
				<class>Oralce_Mod_Model</class>
			</oralce_mod>
		</models>
	</global>
	<frontend>
		<routers>
			<oralce_mod>
				<use>standard</use>
				<args>
					<module>Oralce_Mod</module>
					<frontName>oralcemod</frontName>
				</args>
			</oralce_mod>
		</routers>
		<layout>
			<updates>
				<oralce_mod>
					<file>Oralce_Mod.xml</file>
				</oralce_mod>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<oralce_mod>
				<use>admin</use>
				<args>
					<module>Oralce_Mod</module>
					<frontName>oralcemod</frontName>
				</args>
			</oralce_mod>
		</routers>
	</admin>
</config>